* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(242, 204, 247);
  font-family: Arial;
  font-size: 20px;
  padding: 50px;
  text-align: center;
}

.title {
  font-size: 30px;
  margin-bottom: 25px;
  text-align: center;
}

.lang-password {
  font-size: 23px;
  margin-bottom: 25px;
  text-align: center;
}

.input-lang {
  margin-bottom: 40px;
}

.title-checkbox {
  font-size: 20px;
  margin-bottom: 25px;
  text-align: center;
}

.check-box {
  font-size: 17px;
  margin-bottom: 25px;
  text-align: center;
}
.password {
  font-size: 17px;
  margin-bottom: 25px;
  text-align: center;
}

.Passwordgeneration {
  font-size: 15px;
  margin-bottom: 25px;
  /*margin-left: 555px;*/
  text-align: center;
  background-color: #9437a0;

  color: rgb(205, 213, 226); /* رنگ متن سفید */
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #431149; /* رنگ تیره‌تر هنگام هاور */
}

.write-password {
  font-size: 15px;
  margin-bottom: 25px;
  /*margin-left: 550px;*/
  text-align: center;
}
#password {
  text-align: center;
}
